

.acordion {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid white;
    border-radius: 1rem;
    margin: 0.50rem 0;
    transition: .25s;
}

.acordion.open,
.acordion:hover{
    background-color: #55569E;
    border-color: #55569E;
}

.acordion .trigger {
    font-size: 1.5rem;
    font-weight: 700%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: transparent;
    color: white;
    border: none;
}

.acordion .trigger:hover{
    cursor: pointer;
}

.acordion .trigger::after{
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('/assets/img/arrow-top.svg');
    transition: .25s;
}

.acordion.open .trigger::after{
    transform: rotate(180deg);
}

.acordion .content {
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: opacity .35s ease-in-out;
}

.acordion.open .content {
    display: inline;
    height: auto;
    opacity: 1;
    padding: 0rem 1rem 1rem 2rem;
}

@media only screen and (min-width: 1280px) {
    .acordion {
        max-width: 90%;
    }
}