*{
    box-sizing: border-box;
    background-color: black;
    color: white;
}

.main{
    margin: .5rem;
    padding: 0.5rem;
    border: solid #fff;
    border-radius: 1rem ;
}

@font-face{
    font-family: 'neue machina';
    src: url('/assets/font/NeueMachina-Light.otf');
}

